section{
	margin: 50px;
	padding-left: 4em;

}

footer{
	margin-top: 10px;
	height: 105px;
}
footer :first-child{
	padding-top: 30px;
	color: gray;
}
main{
	margin: 10px;
}

.card{
	background-color:#c1c7cf;
	
}
.card:hover {
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.15); 
}

h1{
text-align: center;	
margin: 40px;
	
}
