section{
	margin: 50px;
	padding-left: 4em;

}

footer{
	margin-top: 10px;
	height: 105px;
}
footer :first-child{
	padding-top: 30px;
	color: gray;
}
main{
	margin: 10px;
}

.card{
background-color: red;	
}

#OR .bg-primary{
background-color: green;	
}


h1{
text-align: center;	
margin: 40px;
	
}