<<<<<<< HEAD
=======
section{
	margin: 50px;
	padding-left: 4em;

}

footer{
	margin-top: 10px;
	height: 105px;
}
footer :first-child{
	padding-top: 30px;
	color: gray;
}
main{
	margin: 10px;
}


>>>>>>> 78d928924e08a689aef92f3a169105caae0956cf
