#in{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	font-size: 20px;
}

.in{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	font-size: 20px;
}

#cSub {
    background-color: white;
    border: 3px solid;
    border-radius: 4px;
    cursor: pointer;
	font-size: 30px;
	 width: 100%;
  align-self: center;
	 font-family: 'Jura', sans-serif;
		
}

#cSub:hover {

animation:rainbow 2s infinite;
border-style: dashed;
	
	
}


.cf
{
	 font-family: 'Jura', sans-serif;	
		  width: 80%;
	 text-align: center;
	padding: 2px 260px;
}